<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="searchbar" *ngIf="_productService.curruntRequest">
                <input type="text" [(ngModel)]="_productService.curruntRequest.searchString" >
                <button type="submit" (click)="_productService.applySearch()"></button>
            </div>
        </div>
    </div>
    <div class="row my-5">
        <div class="col-md-3" *ngIf="allData">
            <shop-filters [filters]="allData.attributeDataMap"></shop-filters>            
        </div>
        <div class="col-md-9">
            <div class="shop_header">

            </div>
            <div class="products">
                <shop-products [productList]=""></shop-products>
            </div>
        </div>
    </div>
</div>