<block-banner></block-banner>
<section id="about-home">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="title-about"> Hi, we're Handloom Store </h2>
                <p class="descripatoin-about"> It is a long established fact that a reader will be distracted by the
                    readable content of page when looking at its layout. </p>
                <a href="#" class="about-tag-btn"> find out more </a>
            </div>
        </div>
    </div>
</section>

<section id="main-add-brand">
    <div class="container">
        <div class="row">

            <div class="sm-12 col-md-6 col-lg-6 col-xl-6">
                <div class="main-img-sales">
                    <img src="../../../assets/img/cotton-throws.jpg">
                    <div class="list-caption">
                        <a href="#" class="title-sales"> COTTON THROWS </a>
                    </div>
                </div>
            </div>

            <div class="sm-12 col-md-6 col-lg-6 col-xl-6">
                <div class="row">

                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="main-img-sales-right">
                            <img src="../../../assets/img/sheets.jpg">
                            <div class="list-caption">
                                <a href="#" class="title-sales"> SHEETS </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12" style="margin-top: 15px; margin-bottom: 15px;">
                        <div class="main-img-sales-right">
                            <img src="../../../assets/img/towels.jpg">
                            <div class="list-caption">
                                <a href="#" class="title-sales"> TOWELS </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="main-img-sales-right">
                            <img src="../../../assets/img/bathrug.jpg">
                            <div class="list-caption">
                                <a href="#" class="title-sales"> BATHRUG </a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>
<block-feature-product></block-feature-product>


<section id="feature-products">
    <div class="container">
        <div class="row">

            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <h2 class="feature-about"> Hi, we're Handloom Store </h2>
            </div>

            <div class="col-sm-6 col-md-3 col-lg-3 col-xl-3">
                <div class="main-feature-products">
                    <div class="main-slide-1-img-feature"> <img src="../../../assets/img/product/1.jpg"> </div>
                    <div class="main-product-name">
                        <h6 class="product-name-pro"> Down Comforter </h6>
                        <h4 class="product-name-prices"> $199.00 </h4>
                        <h6 class="actucal-prices"> %299.00 </h6>
                        <a href="#" class="cart-btn-main"> Buy Now </a>

                    </div>
                    <ul class="main-icon-product-slider-list1">
                        <a href="#"> <i class="far fa-heart"></i> </a>
                        <a href="#"> <i class="fas fa-cart-plus"></i> </a>
                    </ul>
                </div>
            </div>

            <div class="col-sm-6 col-md-3 col-lg-3 col-xl-3">
                <div class="main-feature-products">
                    <div class="main-slide-1-img-feature"> <img src="../../../assets/img/product/1.jpg"> </div>
                    <div class="main-product-name">
                        <h6 class="product-name-pro"> Down Comforter </h6>
                        <h4 class="product-name-prices"> $199.00 </h4>
                        <h6 class="actucal-prices"> %299.00 </h6>
                        <a href="#" class="cart-btn-main"> Buy Now </a>

                    </div>
                    <ul class="main-icon-product-slider-list1">
                        <a href="#"> <i class="far fa-heart"></i> </a>
                        <a href="#"> <i class="fas fa-cart-plus"></i> </a>
                    </ul>
                </div>
            </div>

            <div class="col-sm-6 col-md-3 col-lg-3 col-xl-3">
                <div class="main-feature-products">
                    <div class="main-slide-1-img-feature"> <img src="../../../assets/img/product/1.jpg"> </div>
                    <div class="main-product-name">
                        <h6 class="product-name-pro"> Down Comforter </h6>
                        <h4 class="product-name-prices"> $199.00 </h4>
                        <h6 class="actucal-prices"> %299.00 </h6>
                        <a href="#" class="cart-btn-main"> Buy Now </a>

                    </div>
                    <ul class="main-icon-product-slider-list1">
                        <a href="#"> <i class="far fa-heart"></i> </a>
                        <a href="#"> <i class="fas fa-cart-plus"></i> </a>
                    </ul>
                </div>
            </div>

            <div class="col-sm-6 col-md-3 col-lg-3 col-xl-3">
                <div class="main-feature-products">
                    <div class="main-slide-1-img-feature"> <img src="../../../assets/img/product/1.jpg"> </div>
                    <div class="main-product-name">
                        <h6 class="product-name-pro"> Down Comforter </h6>
                        <h4 class="product-name-prices"> $199.00 </h4>
                        <h6 class="actucal-prices"> %299.00 </h6>
                        <a href="#" class="cart-btn-main"> Buy Now </a>

                    </div>
                    <ul class="main-icon-product-slider-list1">
                        <a href="#"> <i class="far fa-heart"></i> </a>
                        <a href="#"> <i class="fas fa-cart-plus"></i> </a>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</section>

<section id="explore-feature-images">
    <div class="container">
        <div class="row">

            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <img src="../../../assets/img/explore.jpg" class="explore-img-1">
            </div>

            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <div class="main-img-descriaption">
                    <h2 class="explore-img-title"> Explore Comfortable Cusion </h2>
                    <p> It is a long extablished fact that a reader will be distracted by
                        the readable </p>
                    <a href="#" class="explore-btn-find"> find out more </a>
                </div>
            </div>

        </div>
    </div>
</section>

<section id="testimonial-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 colo-xl-12">
                <h2 class="testimonial-about"> Testimonials </h2>
            </div>

            <div class="col-sm-12 col-md-12 col-lg-12 colo-xl-12">

                <div class="slider center">

                    <div class="main-testimonial">
                        <p class="rating-list"> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i
                                class="fas fa-star"></i><i class="fas fa-star"></i> <i class="fas fa-star"></i> </p>
                        <h4 class="title-testimonical-title"> Love our now towells </h4>
                        <p class="main-descripation-testimonial"> it is a long established fact that a reader will be
                            distracted by the readable content of a page when
                            looking at its layout</p>
                        <h3 class="client-name-testimonial"> John Doe </h3>
                    </div>

                    <div class="main-testimonial">
                        <p class="rating-list"> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i
                                class="fas fa-star"></i><i class="fas fa-star"></i> <i class="fas fa-star"></i> </p>
                        <h4 class="title-testimonical-title"> Love our now towells </h4>
                        <p class="main-descripation-testimonial"> it is a long established fact that a reader will be
                            distracted by the readable content of a page when
                            looking at its layout</p>
                        <h3 class="client-name-testimonial"> John Doe </h3>
                    </div>

                    <div class="main-testimonial">
                        <p class="rating-list"> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i
                                class="fas fa-star"></i><i class="fas fa-star"></i> <i class="fas fa-star"></i> </p>
                        <h4 class="title-testimonical-title"> Love our now towells </h4>
                        <p class="main-descripation-testimonial"> it is a long established fact that a reader will be
                            distracted by the readable content of a page when
                            looking at its layout</p>
                        <h3 class="client-name-testimonial"> John Doe </h3>
                    </div>

                    <div class="main-testimonial">
                        <p class="rating-list"> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i
                                class="fas fa-star"></i><i class="fas fa-star"></i> <i class="fas fa-star"></i> </p>
                        <h4 class="title-testimonical-title"> Love our now towells </h4>
                        <p class="main-descripation-testimonial"> it is a long established fact that a reader will be
                            distracted by the readable content of a page when
                            looking at its layout</p>
                        <h3 class="client-name-testimonial"> John Doe </h3>
                    </div>

                    <div class="main-testimonial">
                        <p class="rating-list"> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i
                                class="fas fa-star"></i><i class="fas fa-star"></i> <i class="fas fa-star"></i> </p>
                        <h4 class="title-testimonical-title"> Love our now towells </h4>
                        <p class="main-descripation-testimonial"> it is a long established fact that a reader will be
                            distracted by the readable content of a page when
                            looking at its layout</p>
                        <h3 class="client-name-testimonial"> John Doe </h3>
                    </div>


                </div>

            </div>

        </div>
    </div>
</section>

<section id="new-inside">
    <div class="container">
        <div class="row">

            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <h2 class="title-inside"> Latest News </h2>
            </div>

            <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4">
                <a href="#" class="inside-category">
                    <div class="main-slide-1-img-feature-inside"> <img src="../../../assets/img/news/1.jpg"> </div>
                    <h5 class="title-new-inside-1"> New wooden furniture </h5>
                    <p class="inside-descripatoin-main"> Ut enim ad minim veniam, quis nostrud exercitation uilamco
                        ommodo consequat, Duis aute irure dolor in reprehenderit, In
                        voluptate velit esse cillum dolore eu fugiat nulla pariature. Excepteur
                        sint occaecate copudatat non proident. Perspiciatis unde omnis iste
                        natus error sir</p>
                    <span class="date-inside-post"> May 18, 2018</span>
                </a>
            </div>

            <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4">
                <a href="#" class="inside-category">
                    <div class="main-slide-1-img-feature-inside"> <img src="../../../assets/img/news/2.jpg"> </div>
                    <h5 class="title-new-inside-1"> New wooden furniture </h5>
                    <p class="inside-descripatoin-main"> Ut enim ad minim veniam, quis nostrud exercitation uilamco
                        ommodo consequat, Duis aute irure dolor in reprehenderit, In
                        voluptate velit esse cillum dolore eu fugiat nulla pariature. Excepteur
                        sint occaecate copudatat non proident. Perspiciatis unde omnis iste
                        natus error sir</p>
                    <span class="date-inside-post"> May 18, 2018</span>
                </a>
            </div>

            <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4">
                <a href="#" class="inside-category">
                    <div class="main-slide-1-img-feature-inside"> <img src="../../../assets/img/news/2.jpg"> </div>
                    <h5 class="title-new-inside-1"> New wooden furniture </h5>
                    <p class="inside-descripatoin-main"> Ut enim ad minim veniam, quis nostrud exercitation uilamco
                        ommodo consequat, Duis aute irure dolor in reprehenderit, In
                        voluptate velit esse cillum dolore eu fugiat nulla pariature. Excepteur
                        sint occaecate copudatat non proident. Perspiciatis unde omnis iste
                        natus error sir</p>
                    <span class="date-inside-post"> May 18, 2018</span>
                </a>
            </div>

        </div>
    </div>
</section>