<div class="form-card">
    <div class="row">
        <div class="col-12">
        <h4 class="sc-title">Shopping Cart</h4>
        </div>
    </div>

    <div class="card-details-sec"> 
        <div class="row">
        <div class="col-12 col-md-3">
            <p>Product</p>
            <span>Mulberry Silk Bundle</span>
        </div>
        <div class="col-12 col-md-2">
            <p>Name</p>
            <span>Robe</span>
        </div>
        <div class="col-12 col-md-3">
            <p>Price</p>
            <span>$ 30</span>
        </div>
        <div class="col-12 col-md-2">
            <p>Quantity</p>
            <ul class="quantity-Hl">
            <li class="minus-icon"><i class="fas fa-minus"></i></li>
            <li><span>2</span></li>
            <li class="plus-icon"><i class="fas fa-plus"></i></li>
            </ul>
        </div>
        <div class="col-12 col-md-2">
            <p>Total</p>
            <span>$256</span>
        </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 mt-3">
        <h4 class="sc-title">Billing information</h4>
        </div>
    </div>
    <div class="billing-info">
        <div class="row">
        <div class="col-12 col-md-3">
            <h5>Name</h5>
            <p>Jonson maikal </p>
        </div>
        <div class="col-12 col-md-3">
            <h5>Email :</h5>
            <p>example123@gmail.com</p>
        </div>
        <div class="col-12 col-md-3">
            <h5>Phone:</h5>
            <p>(+91) 123 456 7892</p>
        </div>
        <div class="col-12 col-md-3">
            <h5>Country:</h5>
            <p>India</p>
        </div>
        <div class="col-12 col-md-3">
            <h5>City:</h5>
            <p>Indore</p>
        </div>
        <div class="col-12 col-md-3">
            <h5>State:</h5>
            <p>Albanisia</p>
        </div>
        <div class="col-12 col-md-3">
            <h5>Zip/Postal Code:</h5>
            <p>450021</p>
        </div>
        <div class="col-12 col-md-3">
            <h5>Address:</h5>
            <p>102 Malwa Tower Indore</p>
        </div>
        </div>  
    </div>

    <div class="row mt-3 mb-5">
        <div class="col-12 col-md-4">
        <h4 class="sc-title">Delivery information</h4>
        <p>Free Delivery $0.00 / Delivery in 7 to 12  Days</p>
        </div> 
        <div class="col-12 col-md-4">
        <h4 class="sc-title">Payment information</h4>
        <p>Card number:XXX-XXX-XXX-7224</p>
        </div> 
        <div class="col-12 col-md-4">
        <h4 class="sc-title">Total Price:</h4>
        <p>$256</p>
        </div>
    </div>



    </div> 
    <!-- <input type="button" name="previous" class="previous action-button-previous" value="Previous" /> 
    <input type="button" name="make_payment" class="next action-button" value="Place order now" /> -->
   